* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(-90deg, darkblue,beige);  
}

h1 {
    margin: 15px;
    text-align: left;
    color:darkblue;
    font-family: 'Merienda', cursive;
}

table {
    width: 100%;
}

tr {
    text-align: left;
}    

.list1 {
    list-style-type: none;
    overflow: hidden;
    background-color:darkblue;
}

.list1 a  {
    float: left;
    color: beige;
    text-decoration: none;
    font-family: 'Merienda', cursive;
    padding: 14px 16px;
}

.list1 :hover{
    background-color: maroon;
}

.active {
    background-color: maroon;
}

.boka {
    position: absolute; 
    top: 22%;
    width: 55%;
    left: 33%; 
    color: darkblue;
    font-family: 'Special Elite', cursive;
}

.text {
    position: absolute;
    top: 12%;
    width: 22%;
    margin: 5%;
    color: darkblue;
    font-family:'Anonymous Pro', monospace;
}

.mapouter {
    position: absolute;
    right: 5%;
    top: 21%;
}

.mapouter iframe {
    height:450px;
    width:600px;
}

* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.frontImg {
    position: fixed;
    right: 5%;
    top: 20%;}
 
/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: maroon;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: beige;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.frontImg:hover .overlay {
  opacity: 1;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkblue;
    color: beige;
    text-align: right;
    font-family: 'Merienda', cursive;
    padding: 14px 16px;
}

