*{
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

h1 {
    margin: 15px;
    text-align: left;
    color: darkblue;
    font-family: 'Merienda', cursive;
}

.list1 {
    overflow: auto;
    padding: 0;
    margin: 0;
    background-color:darkblue;
}

.list1 a  {
    color: beige;
    text-decoration: none;
    font-family: 'Merienda', cursive;
}

.list1 li:hover{
    background-color: maroon;
}

.list1item {
    list-style-type: none;
    font-family: fantasy;
    color: black;
    float: left;
    padding: 14px 16px;
}

.boka {
    position: relative; 
    left: 30%; 
    top: 25%; 
    color: darkblue;
    font-family: 'Special Elite', cursive;
}

.frontImg {
    position: absolute;
    right: 5%;
    top: 25%;
}

.text {
    position: absolute;
    top: 13%;
    width: 45%;
    margin: 5%;
    color: darkblue;
    font-family:'Anonymous Pro', monospace;
}

.bokaImg {
    position: absolute;
    right: 5%;
    top: 25%;
}

.ovrigaImg { 
    position: absolute;
    right: 5%;
    top: 25%;
}



.mapouter {
    position: absolute;
    right: 5%;
    top: 25%;
}