body {background-color: beige;}
img {display: block; margin-left: auto; margin-right: auto; width: 40%;}

ul.ovrigatjanster {list-style-type: upper-alpha; color: maroon; padding: 10px 20px;background-color: beige;}
ul.ovrigatjanster {float: initial;}
